@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body {
    font-family: 'Roboto Condensed', sans-serif;
    background: url("images/table2.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 20px;
}
h1 {
    color: goldenrod;
    margin-top: 140px;
}
button {
    color: green;
    background: goldenrod;
    width: 150px;
    font-weight: bold;
    font-size: 20px;
    margin: 4px;
}
a {
    color: white;
    text-decoration: none;
}
ul li{
    margin: 2rem;
}
#user {
    font-size: 30px;
}